server:
  port: 8082
  servlet:
    context-path: /product-service

spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://mongo_admin:%211Password@homelab.gosoft.web.id:27017/product?authSource=admin
      database: product

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
